---
layout: page
title: Paolo - Blog
header: Blog
---

<a href="archive">Archive</a> • <a href="categories">Categories</a> • <a href="feeds">Feeds</a>

<br><br>

<!-- Show last 4 posts here -->
{% for post in paginator.posts %}
  {% if post.category == "micro" %}
    <!-- ignore Micro.blog posts -->
  {% else if %}
    <span id="post-title-category">
        <a href="{{site.url}}/{{post.category}}">
            {{ post.categories }} 
        </a>
        /
    </span>
    
    <a href="{{post.url}}">
        <span id="post-title-name">
            {{ post.title }}
        </span>
    </a>

    <br>

    <span id="post-subtitle">
        {{ post.date | date_to_string }} • by {{ post.author }}
    </span>

    <br><br>

    <div>{{ post.content | strip_html | truncatewords: 50 }} <a href="{{post.url}}">(continue reading)</a> </div>

    <br>
  {% endif %}
{% endfor %}

<!-- TODO: Fix styling and test this section (requires more than 4 number of posts to be entered) -->
<div id="paginator">
    {% if paginator.next_page %}
            <a href="{{site.baseurl}}/page{{paginator.next_page}}">
            &laquo; Older Posts</a>
    {% endif %}

    {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
                <span class="more">
                <a href="{{site.baseurl}}/">
                Newer Posts &raquo; </a>
                </span>
        {% else %}
                <span class="more">
                <a href="{{site.baseurl}}/page{{paginator.previous_page}}">
                Newer Posts &raquo; </a>
                </span>
        {% endif %}
    {% endif %}
</div>