---
layout: page
title: Paolo - Blog
header: Blog
---

<span id="back-button"></span><a href="{{site.url}}/blog/archive">Archive</a> • <a href="{{site.url}}/blog/categories">Categories</a> • <a href="{{site.url}}/blog/feeds">Feeds</a>

<br><br>

<!-- Show last 4 posts here -->
{% for post in paginator.posts %}
    <span id="post-title-category">
        <a href="{{site.url}}{{site.category_dir}}{{post.category}}">
            {{ post.categories }} 
        </a>
        /
    </span>
    
    <a href="{{post.url}}">
        <span id="post-title-name">
            {{ post.title }}
        </span>
    </a>

    <br>

    <span id="post-subtitle">
        {{ post.date | date_to_string }} • by {{ post.author }}
    </span>

    <br><br>

    <div>{{ post.content | strip_html | truncatewords: 50 }} <a href="{{post.url}}">(continue reading)</a> </div>

    <br>
{% endfor %}

<!-- TODO: Fix styling and test this section (requires more than 4 number of posts to be entered) -->
<div id="paginator">
    {% if paginator.next_page %}
            <a href="{{site.url}}/blog/page{{paginator.next_page}}">
            &laquo; Older Posts</a>
    {% endif %}

    {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
                <span class="more">
                <a href="{{site.url}}/blog">
                Newer Posts &raquo; </a>
                </span>
        {% else %}
                <span class="more">
                <a href="{{site.url}}/blog/page{{paginator.previous_page}}">
                Newer Posts &raquo; </a>
                </span>
        {% endif %}
    {% endif %}
</div>