---
# empty front matter
---

<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="{{site.url}}/stylesheets/styles.css">
    <link rel="stylesheet" href="{{site.url}}/stylesheets/github-light.css">
    <link rel="stylesheet" href="{{site.url}}/stylesheets/monokai.css">
    
    <link href="https://micro.blog/pd" rel="me" />
    
    <link rel="shortcut icon" href="{{site.url}}favicon.ico?" type="image/x-icon"/ >
    
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <div class="header">
          <a href="{{site.url}}"><img src="{{site.url}}/images/profile-pic-circle.jpg" alt="" /></a>
          <h1>Paolo Di Lorenzo</h1>
        </div>
        <p></p>


        <p class="view"><a href="https://github.com/pdil" target="_blank">View My GitHub Profile</a>
        <p><a href="{{site.url}}">Home</a>
        <p><a href="{{site.url}}/about">About</a>
        <p><a href="{{site.url}}/blog">Blog</a></p>
        <!-- <p><a href="{{site.url}}/photos">Photo Gallery</a> -->
        <p><hr></p>
        <p><a href="{{site.url}}/passport">Passport (iOS)</a></p>
        <p><a href="{{site.url}}/usmap">usmap (R)</a></p>

      </header>
      <section>
        {{ content }}
      </section>
      <footer>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    
    {% include google_analytics.html %}

  </body>
</html>
