---
# empty front matter
---

<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="{{site.url}}/stylesheets/styles.css">
    <link rel="stylesheet" href="{{site.url}}/stylesheets/github-light.css">
    <link rel="stylesheet" href="{{site.url}}/stylesheets/monokai.css">
    
    <link href="https://micro.blog/p" rel="me" />
    
    <link rel="shortcut icon" href="{{site.url}}/favicon.ico" type="image/x-icon"/ >
    
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <div id="name-header">
          <!-- <a href="{{site.url}}"><img src="{{site.url}}/images/profile_pic_circle.png" alt=""></a><br> -->
          <a href="{{site.url}}"><img src="https://www.gravatar.com/avatar/77883fdc27ae005596275f24218b8dfe?s=125&d={{ site.url | url_encode }}%2Fimages%2Fprofile_pic_circle.png"></a><br>
          <h1>Paolo Di Lorenzo</h1>
        </div>
          
        <div id="social-icons">
          <a href="https://github.com/pdil" target="_blank"><img src="{{site.url}}/images/social/github_vec.svg" height="32"></a>
          <a href="https://twitter.com/dilorenzopl" target="_blank"><img src="{{site.url}}/images/social/twitter_vec.svg" height="32"></a>
          <a href="https://instagram.com/_dilorenzopl" target="_blank"><img src="{{site.url}}/images/social/instagram_vec.svg" height="32"></a>  
        </div>
        
        <ul>
          <li><a href="{{site.url}}">Home</a></li>
          <li><a href="{{site.url}}/about">About</a></li>
          <li><a href="{{site.url}}/blog">Blog</a></li>
        </ul>
          
        <hr>
          
        <ul>
          <!-- <li><a href="{{site.url}}/passport">Passport</a></li> -->
          <li><a href="{{site.url}}/usmap">usmap</a></li>
        </ul>
      </header>
      
      <section>
        {{ content }}
      </section>
      
      <footer>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
        
        {% include google_analytics.html %}
        {% include itunes_affiliate_links.html %}
      </footer>
    </div>

  </body>
</html>
